@import "tailwindcss";

@theme {
  --color-french-blue: #1c77c3;
  --color-picton-blue: #39A9DB;
  --color-aero: #40BCD8;
  --color-tiffany: #A6ECE0;
  --color-carrot-orange: #F39237;
  --color-persian-red #D63230;
  --color-mimi-pink: #EDD2E0;

  --font-poppins: Poppins, sans-serif;
}
